__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
figures/*
!figures/.gitkeep
!figures/*.png
!figures/*.jpg
!figures/*.svg
.DS_Store
Thumbs.db